# Dir
/mods
/saves
/logs
/backups
/journeymap
/downloads
/modlist
/crash-reports
/screenshots

# logs
*.log

# BlockDrop Rates
/config/BlockDrops/*.txt

# CTGUI Generated recipes.zs
/scripts/recipes.zs

# JEI Setting
/config/JEI/

# Astral Sorcery
/astralsorcery/

# Woot
/woot/

# FTBU
/local/

# Changing configs
/config/InvTweaks.cfg
/config/MouseTweaks.cfg

# Other Files
options.txt
.curseclient
usercache.json
usernamecache.json
.ReAuth.cfg
minecraftinstance.json